<section id="contact">
<div id="footer" class="container-fluid">
    <h4  class= "text-center">SUBSCRIBE TO OUR NEWSLETTER</h4>
    <p class= "text-center">Stay informed about us, news and events</p>

    <div class="text-center">
    <input class="btn btn-light" id="mail" type="email" placeholder="Enter your e-mail address">
    <button class="btn btn-dark" id="send">Send</button>
    </div>

    <nav id="nav" class="navbar">
        <ul class="nav navbar-nav">
            <li><a id="aa" routerLink="/home" routerLinkActive="active">HOME</a></li>
            <li><a id="aa" href="#services"  routerLinkActive="active">OUR SERVICES</a></li>
            <li><a id="aa" href="#offer" routerLinkActive="active">OFFER</a></li>
            <li><a id="aa" href="#account" routerLinkActive="active">MY ACCOUNT</a></li>
            <li><a id="aa" href="#pro" routerLinkActive="active">PRO</a></li>
            <li><a id="aa" href="#contact" routerLinkActive="active">CONTACT US</a></li>
            <li><a id="aa" href="#pl" routerLinkActive="active">PL</a></li>
        </ul>
     </nav>
     <div class="text-center">
    <img id="fb"  src="../../assets/img/ic_facebook@1x.png">
    <img  id="tw" src="../../assets/img/ic_twitter@1x.png">
    <img  id="yt" src="../../assets/img/ic_youtube@1x.png">
  </div>
</div>

</section>
