<div id="main" class="container-fluid">
    <img id="logo" src="../../assets/img/logo_slider_home@1x.png">
  <nav id="nav" class="navbar">
      <ul class="nav navbar-nav">
          <li><a id="aa" routerLink="/home" routerLinkActive="active">HOME</a></li>
          <li><a id="aa" href="#services"  routerLinkActive="active">OUR SERVICES</a></li>
          <li><a id="aa" href="#offer" routerLinkActive="active">OFFER</a></li>
          <li><a id="aa" href="#account" routerLinkActive="active">MY ACCOUNT</a></li>
          <li><a id="aa" href="#pro" routerLinkActive="active">PRO</a></li>
          <li><a id="aa" href="#contact" routerLinkActive="active">CONTACT US</a></li>
          <li><a id="aa"  href="#pl" routerLinkActive="active">PL</a></li>
      </ul>
   </nav>
  <div class="text-center">
  <h3 class="text-center"> PAMPER YOURSELF PRETTY</h3>
  <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vitae saepe illo tempore. Exercitationem illo, ut asperiores nulla quam molestias culpa aliquam.</p><br>
  <button class="btn btn-light btn-md " id="reserve" >I RESERVE</button><br>
  <img id="scroll" src="../../assets/img/ic_scroll@2x.png">
</div>
</div>
