<section id="account">
<div class="container">
 <h4 class="center-text">HOW IT WORKS?</h4>
  <img id="line" src="../../assets/img/title _line_category_1@1x.png">
      <div class="row">
        <div class="col-md-4">
          <div id="cc" class="card mb-2">
            <img id="ff" src="../../assets/img/ic_booking@1x.png">
            <div class="content center-text">
              <h5 class="center-text">Booking</h5>
              <p class="center-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            </div>
        </div>
      </div>
      <div class="col-md-4">
          <div id="cc" class="card mb-2">
            <img id="ff" src="../../assets/img/ic_payment@1x.png">
            <div class="content center-text">
              <h5 class="center-text">Paiment</h5>
              <p class="center-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div id="cc" class="card mb-2">
            <img id="ff" src="../../assets/img/ic_meeting@1x.png">
            <div class="content center-text">
              <h5 class="center-text">Meeting</h5>
              <p class="center-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="text-center">
  <button class="btn btn-danger btn-md" id="res">I RESERVE</button>
</div>

</section>
